<h1>Edit luminary</h1>
<form action="/update" method="post">
  <input type="text" name="firstName" value="{{luminary.firstName}}" />
  <input type="text" name="lastName" value="{{luminary.lastName}}" />
  <input type="hidden" name="id" value="{{luminary.id}}" />
  <button>Save luminary</button>
</form>
