<!DOCTYPE html>
<html>
<head>
  <title>Luminaries {{title}}</title>
</head>
<body>
  <h1>Luminaries {{title}}</h1>
  <p><a href="/add">Add a new luminary</a></p>
  <p><a href="/list">View luminaries</a></p>
</body>
</html>
