<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>Luminaries {{title}}</h1>
  <ul>
    {{#each luminaries}}
    <li>{{firstName}} {{lastName}}</li>
    {{/each}}
  </ul>
</body>
</html>
